<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>雀萌财务系统</title>
  <meta name="keywords" content="雀萌财务系统" />
  <meta name="description" content="雀萌财务系统" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
  <meta name="format-detection" content="telephone=no">

  <meta http-equiv="Expires" content="-1">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body>
  <div id="root"></div>
</body>
</html>